.sidebars {
width:40%;
float:left;
background color:white;
margin: 12px;
padding: 4px;
border: 2px solid red;
background-color: grey
}
.guitar {
  width:30%;
  float:left;
  margin: 10px;
  padding: 3px;
  border: 2px solid red;
}
.guitar img{
  height:90% ;
  width:90%;
  margin: 9px;
  padding: 2px;
  border: 2px solid red;
}
